[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
celery = "==4.0"
django-celery = "==2.5.3"
django-celery-beat = "==1.1.0"
django-redis = "*"
"beautifulsoup4" = "*"
requests = "*"
django-vinaigrette = "*"
"psycopg2" = "*"
django-environ = "*"
django-extensions = "*"
django-admin-generator = "*"
django-import-export = "*"
django-dynamic-fixture = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-django = "*"
mixer = "*"

[dev-packages]


[requires]
python_version = "3.6.5"
